.copyToClipboard-button {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: black;
    color: white;
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
    cursor: pointer;
    padding: 2px;
}


.copyToClipboard-button.theme-dark {
    background: white;
    color: black;
}